* {
	box-sizing: border-box;
	text-align: center;
}

.container {

}

.row {
	margin-bottom: 0;
}

.col {
	margin-bottom: 0;
	height: 40px;
}

.row .col .s3{

	border: 1px solid gray;
}

.row .col .s3:hover {
	border: 1px solid blue;
	opacity: .6;
}


.btn-group {
	position: relative;
	display: block;
}