* {
	box-sizing: border-box;
	text-align: center;
	font-family: 'Julius Sans One', sans-serif;
}

h1 {
	font-family: 'Julius Sans One', sans-serif;
	font-weight: lighter;
	color: #01579b;
	
}
div.container.card-panel.hoverable {
	position: relative;
	margin: 0 auto;
	background-color: #eceff1;
	text-align: center;
	font-size: 2rem;
	line-height: 90px;
	font-family: 'Jura', sans-serif;
	color: #263238 ;
}
.winner {
	margin: 0 auto;
	padding-bottom: 20px;
	height: 50px;
	width: 300px;
	font-size: 3rem;
	font-family: 'Julius Sans One', sans-serif;
	color: #00897b;
}

#scoreboard {
	margin-bottom: 25px;
}


.row {
	margin-bottom: 0px;
}

.col {
	margin-bottom: 0px;
	height: 80px;
}
 {
	
}

.input-field {
	border: none;
}



#row1, #row2 {
	margin-bottom: 0;
}

#zero, #three, #six {
	border-right: 1px solid gray;
}

#one, #four, #seven {
	border-right: 1px solid gray;
}
#zero, #one, #two, #three, #four, #five {
	border-bottom: 1px solid gray;
}

.col.s4:hover {

	background-color: #40c4ff;
	opacity: .2;

}


.btn-group {
	position: relative;
	display: block;
	margin-top: 40px;
	margin-bottom: 40px;

}

.input-field:hover {
	color: #01579b;
}